### `!!  Agenda Day 1`
--------------------------------------



* Difference between SQL and Python?
* What is Python?
* What we can do with Python?
* What is Programming Languages?
* What are the different types of Programming Language?
* Why I need to choose Python?
* What is IDE?
* Python Syntax
* First Program using Python
* Python Datatype
* Python Variable

## Print Statement

In [12]:
## Basic Calculations

3 + 3
5 + 7 
10 + 3
## To execute the Python code either you can use the run button
## Or cuse Sift + Enter Key to execute the Python Notebook

13

In [14]:
## Print Command  - The Print command is used to print the value 
## Python is a Case Sensitive programing Language 

print(2+3);
print(5+7);
print(5+7);
print(5+7);

5
12
12
12

In [15]:
## Why Python is a Case Sensitive 

Print(2+3);

## We need to make sure that we are using a proper syntax

NameError: name 'Print' is not defined

In [16]:
## Working with Strings

print('Parthiban');

Parthiban

In [19]:
print('Parthiban1')
print("Parthiban2")
print('''parthiban3''')

Parthiban1
Parthiban2
parthiban3

In [30]:
## Simple Quiz 

print('8'+'5');

print('Parthiban'+' '+'Jaishankar')

85
Parthiban Jaishankar

## Datatypes

In [24]:
## 98 : Integer ( Numerical Value)
## 100 : Integer
## 9 : Integer
## 9.0 : Float (Decimal Value)
## 100.675 : Float
## Parthiban : String (Sequence of Character)
## Pattabhi : String
## Shaikh : String 
## True / False : Boolean 
## None : Returns Nothing

In [32]:
## Boolean 

print(3>2);

True

In [33]:
if(3>2):
    print(True)

print(False)

True
False

In [27]:
if (3 > 2):
print(True);

IndentationError: expected an indented block after 'if' statement on line 1 (3008268482.py, line 2)

## Checking the Datatype Object

In [34]:
##You can get the data type of any object by using the type() function

type(123)

int

In [35]:
type('Parthiban')

str

In [36]:
type(True)

bool

In [37]:
type(None)

NoneType

In [38]:
type(2.2)

float

In [39]:
type("")

str

In [40]:
type(1J)

complex

In [41]:
print(type('Parthiban'))

<class 'str'>

## Variables - 

#### Variables are containers for storing data values.

In [ ]:
a = 100
print(a)

In [ ]:
type(a)

In [ ]:
name = 'Parthiban'
print(name)

In [ ]:
type(name)

In [42]:
Basket = 'Apple'

In [46]:
print(Basket)

Banana

In [45]:
Basket = 'Banana'

## Naming Variable

In [ ]:
# lowercase / Uppercase/ digit/ Underscore

# a - z
# A - Z
# 0 - 9 
# _ (Underscore)

## A Variable name cannot Start with a digit

## Variable Assignment

In [49]:
a= 10

In [50]:
b = 20

In [51]:
print(a)

10

In [53]:
a = b ## Assignment

In [54]:
print(a)

20

## Taking Input Values

In [ ]:
a= input() ## Default It will take the value as string 
print(a)

In [ ]:
type(a)

In [ ]:
a = int(input())
print(a)

In [ ]:
type(a)

In [47]:
Basket

'Banana'

In [61]:
Input_Value = float(input('Enter a Value: '))

print(Input_Value)

type(Input_Value)

2.222

float

In [62]:
print('1.2222')

1.2222

In [63]:
print('parthiban')

parthiban

In [67]:
a = '1.22'

print(type(float(a))); ## Type casting

print(type(a))

<class 'float'>
<class 'str'>